{% load i18n %}
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-person-booth"></i></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %} <span class="sr-only">({% trans "current" %})</span></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:list' %}">{% trans "All Polls" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:list_by_user' %}">{% trans "My Dashboard" %}</a>
            </li>
            {% endif %}
        </ul>

        <!-- Language switcher form -->
        <form action="{% url 'set_language' %}" method="post" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            <select name="language" onchange="this.form.submit()" class="form-control form-control-sm mr-2">
                {% for code, name in LANGUAGES %}
                    <option value="{{ code }}"{% if code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
        </form>

        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> {{ request.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                        <i class="fas fa-user"></i> {% trans "Profile" %}
                    </a>
                    <a class="dropdown-item" href="{% url 'polls:list_by_user' %}">
                        <i class="fas fa-tachometer-alt"></i> {% trans "My Dashboard" %}
                    </a>
                    <a class="dropdown-item" href="{% url 'polls:user_analytics' %}">
                        <i class="fas fa-chart-line"></i> {% trans "My Analytics" %}
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                        <i class="fas fa-sign-out-alt"></i> {% trans "Logout" %}
                    </a>
                </div>
            </div>
            {% else %}
            <a class="nav-link" href="{% url 'accounts:login' %}">{% trans "Login" %}</a>
            <a class="nav-link" href="{% url 'accounts:register' %}">{% trans "Register" %}</a>
            {% endif %}
        </div>
    </div>
</nav>
